<h1>Billboards Top 100</h1>
<h2>All Genres</h2>

<ul>
  <% @billboards.each do |billboard| %>
    <li><%= link_to billboard.name, billboard %></li>
  <% end %>
</ul>
<%= link_to 'Create a new billboard', new_billboard_path %>
<br />
<%= link_to 'All  Artists', artists_path %>