<h1>Billboards#show</h1>
<h1><%= @billboard.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Artists', billboard_artists_path(@billboard) %>
<br />
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete Billboard', @billboard, method: :delete %
<p>Find me in app/views/billboards/show.html.erb</p>
